<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="jquery.js"></script> 
    <script src="ajax.js"></script> 
    <script src="listeners.js"></script> 
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <div class="top"><a href="#">Dashboard</a></div>
    <div class="left">
	    <a class="dash-link" id="home" href="#">Home</a><br>
	    <a class="dash-link" id="account-options" href="#">Account Options</a><br>
        <a class="dash-link" id="find-items" href="#">Find Items</a><br>
	    <a class="dash-link" id="view-posted" href="#">View Posted</a>
    </div>
    <div class="content">
        <div class="section"><h2>Hello</h2></div>
    </div>
</body>
</html>